body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    width: calc(100vw - 2rem);
    background-color: #999;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container, .control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 2rem);
    grid-template-rows: repeat(11, 2rem);
    background-image: url('https://JohnPatrickAncajas.github.io/Matrix/assets/background.jpg');
    background-size: cover;
}

.cell {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
}

.cell-hidden {
    color: transparent;
}

.red-dot {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('https://JohnPatrickAncajas.github.io/Matrix/assets/asset.jpg');
    background-size: cover;
}

.joypad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joypad-row {
    display: flex;
}

.joypad-button {
    width: 3rem;
    height: 3rem;
    margin: 5px;
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.joypad-button:active {
    background-color: #999;
}

#leftbutton {
    margin-right: 3rem;
}

.settings, #output {
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
}

.current-position {
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    margin: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.matrix-solution {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.gameboy-theme {
    background-color: #e8e8e8;
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .grid-container, .control-container {
        flex: 1;
        margin-bottom: 0;
    }

    .grid {
        grid-template-columns: repeat(11, 3rem);
        grid-template-rows: repeat(11, 3rem);
    }
    
    .cell {
        width: 3rem;
        height: 3rem;
    }

    .red-dot {
        width: 2rem;
        height: 2rem;

    }
}
